.order-product {
    display: flex;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font: var(--txt_medium);
}

.product-image {
    max-width: 120px;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}
.product-info div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-info div p {
    display: flex;
    align-items: center;
}

.color-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}