.shipping-address {
    background-color: #F8F8F8;
    padding: 20px;
    margin-top: 20px;
}

.shipping-address p {
    font: var(--txt_medium);
    color: #4A4E69;
}

.shipping-address-buttons {
    display: flex;
    justify-content: space-between;
}