.wishlist {
    background-color: #F8F8F8;
    padding: 20px;
    margin-top: 20px;
}

.wishlist h3 {
    font: var(--heading_medium);
    font-weight: var(--font-weight-bold);
}

.wishlist p {
    font: var(--txt_medium);
}