.comments-wrapper {
    padding: 20px;
    font: var(--txt_medium);
}

.comments-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.comments-table .table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}

.comment-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


/* CommentItem Popup */
.comment-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.table-header span,
.comment-item span {
    width: 20%;
    text-align: left;
}

.table-header .comment-title,
.comment-item .comment-title {
    width: 30%;
}

.table-header .action-btn,
.comment-item .action-btn {
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.actions-popup {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100;
}

/* Update Comment Status */

.update-comment-status {
    max-width: 400px;
    min-height: 80vh;
    margin: 20px auto;
    padding: 20px;
}

.update-comment-status h3 {
    margin-bottom: 15px;
    text-align: center;
    font: var(--heading_medium);
    font-weight: var(--font-weight-bold);
}

.comment-status-update {
    display: flex;
}

.status-dropdown {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    font: var(--txt_medium);
}