.dashboard-container {
    padding: 20px;
    font: var(--txt_medium);
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.stat-box {
    min-width: 170px;
    max-width: 250px;
    width: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recent-orders-container {
    margin-bottom: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.low-stock-alerts-container {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.low-stock-items span {
    display: inline-block;
    margin-right: 10px;
}


@media (max-width: 768px) {
    .stats-container {
        flex-wrap: wrap;
    }

    .stat-box {
        margin-bottom: 10px;
    }

    .orders-table th,
    .orders-table td {
        font-size: 14px;
    }
}