.users-container {
    margin: 20px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    text-align: left;
    padding: 10px;
}

.users-table th {
    background-color: #f4f4f4;
    font-weight: var(--font-weight-bold);
}

.users-table td {
    border-bottom: 1px solid #ddd;
}

.details-button {
    background-color: #343a40;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #495057;
}