:root {
    /* Typography */
    --font-heading: 'Noto Sans Bengali', sans-serif;
    --font-body: 'Noto Sans', sans-serif;
    --font-cta: 'Noto Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Primary Colors */
    --primary-color-light: #D4A373;
    --primary-color-dark: #8A7E66;

    /* Secondary Colors */
    --secondary-color-light: #4A4E69;
    --secondary-color-dark: #22223B;

    /* Text Colors */
    --text-color-body: #333;
    /* Default body text color */
    --text-color-heading: #222;
    /* Default heading color */
    --text-color-cta: #FFF;

    /* ............ */
    --heading_small: max(15px, 1.5vw) / max(19px, 2vw) var(--font-heading);
    --heading_medium: max(19px, 2vw) / max(28px, 2.5vw) var(--font-heading);
    --heading_large: max(28px, 2.5vw) / max(38px, 3vw) var(--font-heading);

    --txt_small: max(12px, 1.2vw) / max(15px, 1.5vw) var(--font-body);
    --txt_medium: max(15px, 1.5vw) / max(24px, 2vw) var(--font-body);
    --txt_large: max(24px, 2vw) / max(32px, 2.5vw) var(--font-body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}